.agrogator{
	font-size: .75rem;
}
.story_container{
	padding: .25em 0 .75rem 0;
}
.agrogator a,
.agrogator i{
	display: block;
}
.agrogator p{
	display: none;
	color: #c6c6c6;
}
.agrogator p:hover{
	color: #000;
}
